  #carouselExample {
        
    }

    .corpo-carousel{
        background-color: #000000;
    }

    .carousel-inner{
        margin-top: 35px;
    margin-bottom: 35px;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px; 
        background-color: #0b0b0b;
    }

    .carousel-item img {
        object-fit: contain;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease;
        
    }

    .carousel-item img:hover {
        transform: scale(1.05);
    }

.carousel-indicators{
    margin-bottom: 50px;
}