<style>
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
    /* fundo suave */
}

.card-samsung {
    background-color: #F7F7F7;
    text-align: center;
    width: 280px;
    padding: 60px;
    /* border-radius: 16px; */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-produto{
    margin-top: -50px;
}

.card-samsung img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

.card-samsung h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
    line-height: 1.3;
}

.card-samsung:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 30px rgba(0,0,0,0.18);
}

.card-samsung:hover img {
    transform: scale(1.05);
}
</style>

<div class="cards-container">
    <a href="/produto/1" class="card-samsung">
        <h3 class="titulo-produto">Galaxy S25 Ultra</h3>
        <img src="/public/assets/images/produtos/image.webp" alt="Galaxy S25 Ultra">
    </a>

    <a href="/produto/2" class="card-samsung">
        <img src="/public/assets/images/produtos/image.webp" alt="Galaxy Z Flip7">
        <h3>Galaxy Z Flip7</h3>
    </a>

    <a href="/produto/3" class="card-samsung">
        <img src="/public/assets/images/produtos/image.webp" alt="Galaxy Tab S10 Lite">
        <h3>Galaxy Tab S10 Lite</h3>
    </a>

    <a href="/produto/4" class="card-samsung">
        <img src="/public/assets/images/produtos/image.webp" alt="Galaxy Watch8">
        <h3>Galaxy Watch8</h3>
    </a>
</div>
