

<div class="cards-container">
    <a href="/produto/1" class="card-produto">
        <h3>Galaxy S25 Ultra</h3>
        <img class="card-foto" src="/public/assets/images/produtos/image.png" alt="Galaxy S25 Ultra">
    </a>

    <a href="/produto/2" class="card-produto">
        <h3>Galaxy Z Flip7</h3>
        <img class="card-foto" src="/public/assets/images/produtos/image2.png" alt="Galaxy Z Flip7">
    </a>

    <a href="/produto/3" class="card-produto">
        <h3>Galaxy Tab S10 Lite</h3>
        <img class="card-foto" src="/public/assets/images/produtos/image3.png" alt="Galaxy Tab S10 Lite">
    </a>

    <a href="/produto/4" class="card-produto">
        <h3>Galaxy Watch8</h3>
        <img class="card-foto" src="/public/assets/images/produtos/image4.png" alt="Galaxy Watch8">
    </a>
</div>
