body{
    background-color: #FFFFFF;
      font-family: 'Source Sans Pro', sans-serif;
  ; /* ajuste esse valor para a altura real da sua navbar */

}

.flex-container {
    width: 80%;       /* largura padrão (pode mudar para 50%, 90%, etc) */
    max-width: 2200px; /* limite máximo para telas grandes */
    min-width: 300px;  /* limite mínimo para telas pequenas */
    margin: 0 auto;   /* centraliza horizontalmente */
    padding: 20px;    /* espaço interno */
    /* fundo opcional */
    box-sizing: border-box;
}

.center_content{
          margin-top: 75px;
    margin-bottom: 75px;
}