<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ site_url }}/assets/css/layout.css" />

        <title>{{ titulo }}</title>
    </head>

    <body>
        <div class="layout_site">
            <div class="navbar">
                <!-- include do header -->
                <div id="navbar_content">
                    <div id="navbar_tab">
                        <!-- include do menu -->
                    </div>
                    <div class="crumb_navigation">
                        <!-- breadcrumb -->
                    </div>
                    <div class="left_content">
                        <div class="title_box">Categorias</div>
                        <ul class="left_menu">
                            <!-- include left_menu -->
                        </ul>
                        <div class="title_box">Promoção</div>
                        <div class="border_box">
                            <div class="product_tile">
                                <!-- imagem produto promocao -->
                            </div>
                            <div class="product_image">
                                <!-- imagem do produto em promoção -->
                            </div>
                            <div class="prod_price">
                                <!-- preço do produto -->
                            </div>
                        </div>
                    </div>
                    <div class="title_box">Newsletter</div>
                    <div class="border_box">
                        <input
                            type="text"
                            name="Newsletter"
                            class="newsletter"
                            value="Seu email"
                        />
                        <a href="" class="join">cadastrar email</a>
                        <div class="banner_ads">
                            <a href="">
                                <!-- banner promocao, propaganda -->
                            </a>
                        </div>
                    </div>
                    <div class="center_content">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="right_content">
                        <div class="shopping_cart">
                            <div class="cart_title">Carrinho de compras</div>
                            <div class="cart_details">
                                <span id="products_cart">
                                    <!-- numero de produtos no carrinho -->
                                </span>
                                <br />
                                <span class="border_cart"
                                    >Total:
                                    <span class="price">
                                        <!-- Total de compras no carrinho -->
                                    </span>
                                </span>
                            </div>
                            <div class="cart_icon">
                                <a
                                    href=""
                                    title="header=[Checkout] body=[&nbsp;] fade=[on]"
                                ></a>
                                <!-- icon carrinho -->
                            </div>
                            <div class="title_box">Novidades</div>
                            <div class="border_box">
                                <div class="product_title">
                                    <!-- titulo produto novidade -->
                                </div>
                                <div class="product image">
                                    <!-- imagem do  produto novidade -->
                                </div>
                                <div class="prod_price">
                                    <div class="price">
                                        <!-- preço do produto novidade -->
                                    </div>
                                </div>
                            </div>
                            <div class="title_box">
                                Marcas
                            </div>
                            <!-- include das Marcas -->
                             <div class="banner_ads">
                                <!-- Banner de promoção, propaganda -->
                             </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="left_footer">
                        <!-- imagem footer -->
                    </div>
                    <div class="center_footer">
                        {{ titulo }}.Todos os direitos reservados {{ 'now' | date('d/m/Y') }} <br>
                        <!-- imagem da loja -->
                    </div>
                    <div class="right_footer">
                        <a href="#">Home</a>
                        <a href="#">About</a>
                        <a href="#">sitemap</a>
                        <a href="#">rss</a>
                        <a href="#">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
       <!-- {% block site_content %}{% endblock %} -->
        <script src="{{ site_url }}/bower_components/jquery/dist/jquery.js"></script>
        <script src="{{ site_url }}/assets/js/site/carrinho.js"></script>    
    </body>
</html>
