{% include 'includes/config/head.html' %}

<body>
    <div class="layout_site">
        <div class="main">

            <!-- include do header -->
            <div id="navbar_content">
                <div id="navbar_tab">
                    <!-- include do menu -->
                    {% include 'includes/navbar/site_navbar.html' %}
                </div>
             
            </div>

               <!-- {{breadCrumb() | raw}} -->
        </div>
        <div class="center_content">
            {% block site_content %}
            
            {% endblock %}
        </div>
        {% include 'includes/footer/site_footer.html' %}
    </div>

    <!-- scripts -->
    {% include 'includes/config/scripts.html' %}

</body>

</html>